/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  cursor: default;
}

/* Track */
::-webkit-scrollbar-track {
  background: #073a7c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #041553;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #041029;
}
